# -*- coding: utf-8 -*-
# vim: ft=yaml
---
icinga2:
  lookup:  # See defaults.yaml and map.jinja for a better overview
    config_dir: /etc/icinga2
    confd_dir: /etc/icinga2/conf.d
    check_command_dir: /etc/icinga2/conf.d/check_command
    scripts_dir: /etc/icinga2/scripts
    home_dir: /var/lib/nagios
    user: nagios
    group: nagios
    postgresql_pkgs:
      - postgresql-client
    service: icinga2
    pkgs:
      - icinga2
      # - nagios-nrpe-plugin
    ido:
      db:
        # MUST BE SET when using icinga2.pgsql-ido
        password: SomeSecurePassword

        name: icinga
        user: icinga2ido
        host: 127.0.0.1
        port: 5432
      schema_path: /usr/share/icinga2-ido-pgsql/schema/pgsql.sql
      pkg: icinga2-ido-pgsql
    icinga_web2:
      config_dir: /etc/icingaweb2
      modules_dir: /usr/share/icingaweb2/modules
      user: www-data
      group: icingaweb2
      db:
        # MUST BE SET when using icinga2.icinga-web2-database
        password: AnotherSecurePassword

        name: icinga2web
        user: icinga2web
        host: 127.0.0.1
        port: 5432
      pkgs:
        - icingaweb2
        - icingaweb2-module-doc
        - icingaweb2-module-monitoring
      required_pkgs:
        - php-fpm
        - php-pgsql
        - libapache2-mod-php
        - php-intl
        - php-gd
        - php-imagick
      features:
        api: false  # disable
        command: true  # enable
        debuglog: false
        gelf: false
        graphite: false
        influxdb: false
        livestatus: false
        opentsdb: false
        perfdata: false
        statusdata: false
        syslog: false

    notification:
      xmpp:
        pkg: python3-slixmpp
        python_executable: python3
        ca_file: /etc/ssl/certs/ca-certificates.crt

  postgres:
    use_formula: false  # set to true if you are using postgres-formula

  nrpe:  # deprecated
    config:
      server_port: 5666
      commands:
        check_users: /usr/lib/nagios/plugins/check_users -w 5 -c 10
    defaults:
      DAEMON_OPTS: "\"--no-ssl\""

  conf:
    users:
      alice:
        email: alice@example.test
        groups:
          - icingaadmins
        vars:
          jabber: alice@jabber.example.test
    user_groups:
      icingaadmins:
        display_name: "Icinga 2 Admin Group"
    templates:
      special-host:
        type: Host
        conf:
          vars:
            sla: "24x5"
      special-downtime:
        type: ScheduledDowntime
        conf:
          ranges:
            monday: "02:00-03:00"
      special-notification:
        type: Notification
        conf:
          types:
            - FlappingStart
            - FlappingEnd
    hosts:
      example.com:
        import: generic-host
        address: 1.2.3.4
        vars:
          sla: "24x7"
        services:
          http:
            import: generic-service
            host_name: example.com
            check_command: http
            vars:
              sla: "24x7"
          ssh:
            import: generic-service
            host_name: example.com
            check_command: ssh
            vars:
              sla: "24x7"
          ssh_alt:
            import: generic-service
            host_name: example.com
            check_command: ssh
            vars:
              ssh_port: 43
              sla: "24x7"
          obsolete_service:
            remove: true

      # Minimalistic, supply only hostname
      example2.test: {}
      # # sets
      #   address: example2.test
      #   import: generic-host

      # Removes this host from Icinga
      deprecated.example.com:
        remove: true

    notifications:
      'xmpp-host':
        # opt-in to trigger application
        apply_to: Host
        conf:
          users:
            - alice
          # defined by icinga.notification.xmpp
          command: 'xmpp-host-notification'
          assign:
            - 'true'

    downtimes: {}
    # see 'notifications' above

    services: {}
    # see 'notifications' above

  notification:
    xmpp:
      pkg: python3-slixmpp
      python_executable: python3
      ca_file: /etc/ssl/certs/ca-certificates.crt

      jid: icinga@jabber.example.test
      password: supersecurerandomizeduniquepassword
