{% set icinga2 = salt['grains.filter_by']({
    'Debian': {
        'classicui': {
            'users': {}
        },
        'conf': {},
        'nrpe': {},
        'pkgs': []
    },
    'Ubuntu': {
        'classicui': {
            'users': {}
        },
        'conf': {},
        'nrpe': {},
        'pkgs': []
    },

}, merge=salt['pillar.get']('icinga2:lookup')) %}
